<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				margin: auto;
				padding: 10px;
				background-color: #fff;
				font-size: 14px;
				font-family: Verdana;
			}
			.myDiv1 {
				height: 300px;
				width: 650px;
				border: 1px solid black;
				margin: 30px auto;
				padding: 10px;
				font-size: 18px;
			}
			.myDiv2 {
				height: 420px;
				width: 650px;
				border: 1px solid black;
				margin: 30px auto;
				padding: 10px;
			}
			.myDiv3 {
				height: 200px;
				width: 650px;
				margin: 30px auto;
				padding: 10px;
			}
			h2 {
				text-align: center;
			}
			table,
			td,
			th {
				border: 1px solid #ddd;
				text-align: left;
			}
			table {
				border-collapse: collapse;
				width: 100%;
			}
			th,
			td {
				padding: 15px;
				text-align: center;
				font-weight: 600;
				font-size: 14px;
				color: #000;
				height: 10px;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<h2>Word: [[perticularWord]]</h2>
			
			<div class="myDiv2">
				<table>
					<tbody style="text-align: right">
						<tr v-for="(l,i) in perticularWord">
							<td v-for="(l2,i2) in perticularWord">
								<span v-if="i==i2"> </span>
								<span v-else>[[l2]] </span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="myDiv2">
				<table>
					<tbody style="text-align: right">
						<tr v-for="(l,i) in perticularWord">
							<td v-for="(l2,i2) in perticularWord">
								<span
									v-if="perticularWord_length_index > i && i+1==i2"
								>
								</span>
								<span
									v-else-if="i >= perticularWord_length_index && i-perticularWord_length_index ==i2"
								>
								</span>
								<span v-else>[[l2]] </span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="myDiv1" style="white-space: pre-line">[[first_section]]</div>
			<div class="myDiv1" style="white-space: pre-line">[[second_section]]</div>

			<div class="myDiv3">
				<table>
					<tbody style="text-align: right">
						<tr>
							<td v-for="l in suffleWord"></td>
						</tr>
						<tr>
							<td v-for="l in suffleWord">[[l]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script src="./words.js"></script>
		<script src="./similarWordList.js"></script>
		<script src="./vue.js"></script>
		<script>
			function getParameterByName(name, url = window.location.href) {
				name = name.replace(/[\[\]]/g, "\\$&");
				var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
					results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return "";
				return decodeURIComponent(results[2].replace(/\+/g, " "));
			}

			function shuffleArray(array) {
				for (var i = array.length - 1; i > 0; i--) {
					var j = Math.floor(Math.random() * (i + 1));
					var temp = array[i];
					array[i] = array[j];
					array[j] = temp;
				}
			}

			function similarKindOfWords(word, similarWordList) {
				let loopLength = 8
				if (word.length < 3){
					loopLength = 23
				} else if (word.length == 3){
					loopLength = 17
				} else if (word.length == 4){
					loopLength = 14
				} else if (word.length == 5){
					loopLength = 11
				} else if (word.length == 6){
					loopLength = 10
				}
				const WordList =[].concat(... new Array(4).fill([...similarWordList ]));
				shuffleArray(WordList)
				const WordList2 = WordList.slice(0, loopLength);
				const newWordList = [...WordList2 ,word ]
				console.log(newWordList)
				let returnData = "";
				for (let j=0; j< 10; j++){
					let tempString = ""
					shuffleArray(newWordList)
					for (let i = 0; i < loopLength+1 ; i++) {
						tempString += " " + newWordList[i];
					}
					console.log(tempString)
					returnData += tempString+" \n"
				}
				console.log(returnData)
				return returnData;
			}

			function anyKindOfWords(word, wrdlst) {
				
				let loopLength = 16
				
				const wrdlst2 = [...wrdlst]
				const index = wrdlst2.indexOf(word)
				if (index > -1) { 
					wrdlst2.splice(index, 1); 
				}

				const WordList =[].concat(... new Array(4).fill([...wrdlst2 ]));
				shuffleArray(WordList)
				const WordList2 = WordList.slice(0, loopLength);
				const newWordList = [...WordList2 ,word ]
				console.log(newWordList)
				let returnData = "";
				for (let j=0; j< 10; j++){
					let tempString = ""
					shuffleArray(newWordList)
					for (let i = 0; i < loopLength+1 ; i++) {
						tempString += " " + newWordList[i];
					}
					// console.log(tempString)
					returnData += tempString+" \n"
				}
				return returnData;
			}

			const app = Vue.createApp({
				delimiters: ["[[", "]]"],
				data() {
					return {
						perticularWord: "",
						suffleWord: "",
						perticularWord_length_index: 0,
						first_section: "",
						second_section: "",
					};
				},
				watch: {
					words: function () {
						console.log("changed");
					},
				},
				mounted: function () {
					const perticularWord = getParameterByName("word");
					if (perticularWord) {
						this.perticularWord = perticularWord.toLowerCase();
						this.perticularWord_length_index =
							perticularWord.length - 1;
						this.suffleWord = perticularWord
							.split("")
							.sort(function () {
								return 0.5 - Math.random();
							})
							.join("")
							.substring(0, 6);
						if (wordList) {
							this.first_section = anyKindOfWords(
								perticularWord,
								wordList
							);
						
						}
						if(similarWordList && similarWordList[perticularWord]) {
							console.log(perticularWord[perticularWord])
							this.second_section = similarKindOfWords(
								perticularWord,
								similarWordList[perticularWord]
							);
						}
					}
				},
			});
			app.mount("#app");
		</script>
	</body>
</html>
